{
  "extends": ["eslint:recommended", "google", "prettier"],
  "plugins": ["jest", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "jest/globals": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "require-jsdoc": 0,
    "camelcase": "off"
  },
  "ignorePatterns": ["*.yml"]
}
